<div class="jira-container">
    <details class="jira-issue">
        <summary class="flex-center">
            <a href="{{settings.jiraHost}}/browse/{{issue.key}}" class="flex-center">
                {{#if settings.renderTypeIcon}}
                <img alt="{{issue.fields.issuetype.name}}" title="{{issue.fields.issuetype.name}}"
                    src="{{issue.fields.issuetype.iconUrl}}" />
                {{/if}}
                {{#if settings.renderKey}}
                <span>OPEN-83</span>
                {{/if}}
            </a>
            {{#if settings.renderSummary}}
            <span>-</span>
            <span>{{issue.fields.summary}}</span>
            {{/if}}
            {{#if settings.renderStatus}}
            <span class="tag uppercase tag-{{statusColor}}" title="Status">{{issue.fields.status.name}}</span>
            {{/if}}
        </summary>
        <div class="flex-center">
            {{#if settings.renderPriority}}
            <span class="tag tag-grey" title="Priority: {{issue.fields.priority.name}}">P:
                {{issue.fields.priority.name}}</span>
            {{/if}}
            {{#if settings.renderCreator}}
            <span class="tag tag-grey" title="Creator: {{issue.fields.creator.displayName}}">C:
                {{issue.fields.creator.displayName}}</span>
            {{/if}}
            {{#if settings.renderAssignee}}
            <span class="tag tag-grey" title="Assignee: {{issue.fields.assignee.displayName}}">A:
                {{issue.fields.assignee.displayName}}</span>
            {{/if}}
            {{#if settings.renderReporter}}
            <span class="tag tag-grey" title="Reporter: {{issue.fields.reporter.displayName}}">R:
                {{issue.fields.reporter.displayName}}</span>
            {{/if}}
            {{#if settings.renderType}}
            <span class="tag tag-grey" title="Type: {{issue.fields.issuetype.name}}">T:
                {{issue.fields.issuetype.name}}</span>
            {{/if}}
            {{#if settings.renderProgress}}
            <span class="tag tag-grey" title="Progress: {{progress}}">%: {{progress}}</span>
            {{/if}}
            {{#if settings.renderDueDate}}
            <span class="tag tag-grey" title="Due date: {{issueJson.fields.duedate}}">Dd:
                {{issueJson.fields.duedate}}</span>
            {{/if}}
        </div>
    </details>
</div>