.jira-container {
    color: #172b4d;
    font-family: "Segoe UI", "Roboto", "Fira Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    position: relative;
}

.jira-container img {
    width: 16px;
    height: 16px;
    max-width: none;
}

.jira-container summary:focus {
    outline: none;
}

.jira-container .flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.jira-container .flex-center>* {
    margin-right: 5px;
}

.jira-container .flex-center>*:last-child {
    margin-right: 0;
}

/* Issue */

.jira-container .jira-issue {
    width: fit-content;
    background: #f0f0f0;
    padding: 3px;
    border-radius: 3px;
    margin: 2px 0;
}

.jira-container .jira-issue>div {
    margin-top: 3px;
}

.jira-container a {
    text-decoration: none;
}

.jira-container a:hover {
    text-decoration: underline;
}

.jira-container .no-text-wrap {
    white-space: nowrap;
}

/* Search */

.jira-container .jira-search {
    overflow-x: auto;
    width: 95vw;
    margin-left: calc((-95vw + 100%) / 2);
}

/* Tags */

.jira-container .tag {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    padding: 2px 5px;
    border: 1px solid #333;
}

.jira-container .uppercase {
    text-transform: uppercase;
}

.jira-container .tag.tag-medium-gray.outline {
    background-color: #fff;
    border-color: #c1c7d0;
    color: #42526e;
}

.jira-container .tag.tag-blue-gray {
    background-color: #b3d4ff;
    border-color: #b3d4ff;
    color: #0052cc;
}

.jira-container .tag.tag-yellow {
    background-color: #ffab00;
    border-color: #ffab00;
    color: #253858;
}

.jira-container .tag.tag-green {
    background-color: #00875a;
    border-color: #00875a;
    color: #fff;
}

.jira-container .tag.tag-red {
    background-color: #de350b;
    border-color: #de350b;
    color: #fff;
}

.jira-container .tag.tag-medium-gray {
    background-color: #dfe1e6;
    border-color: #dfe1e6;
    color: #253858;
}

/* Spinner */

.jira-container .lds-dual-ring {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
}

.jira-container .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Icons */

.jira-container .error-circle {
    width: 1.1em;
    height: 1.1em;
    line-height: 1.1em;
    background: #b60c0c;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-size: 1.1em;
    text-align: center;
}

/* Table */

.jira-container table {
    border-collapse: collapse;
    width: 100%;
    display: table;
}

.jira-container thead {
    vertical-align: top;
    display: table-row-group;
}

.jira-container tbody {
    vertical-align: middle;
    display: table-row-group;
}

.jira-container tr {
    display: table-row;
    vertical-align: inherit;
}

.jira-container th {
    text-align: left;
    border-bottom: 1px solid #dfe1e6;
    padding-right: 15px;
    color: #7a869a;
    font-weight: bold;
    padding: 7px 10px;
}

.jira-container td {
    text-align: left;
    border-bottom: 1px solid #dfe1e6;
    padding: 7px 10px;
    vertical-align: top;
    word-wrap: break-word;
}

/* Inline tag */

.jira-container.container-block {
    display: block;
}

.jira-container.container-inline {
    display: inline-block;
}

.jira-container.container-inline .jira-issue {
    display: inline-block;
}

.jira-container.container-block .hide-block {
    display: none;
}

.jira-container.container-inline .hide-inline {
    display: none;
}